**Initiallizing Libraries**

In [ ]:
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

**Reading CSV File from drive**

In [ ]:
path = '/gdrive/My Drive/your_df.csv'
your_df = pd.read_csv(path, index_col=[0])

In [ ]:
your_df.head()

#  **Conversion of january data to Hourly**

**Converting January data into datetime format**

In [ ]:
your_df['timestamp_column'] = your_df['tempo'].str.replace('CET', '')

In [ ]:
your_df['timestamp_column'] = pd.to_datetime(your_df['timestamp_column'])

In [ ]:
your_df.info()

In [ ]:
your_df['timestamp_column'] = your_df['timestamp_column'].dt.strftime("%m/%d/%Y %H:%M:%S")

In [ ]:
your_df['timestamp_column'] = your_df['timestamp_column'].dt.strftime("%m/%d/%Y %H:%M:%S")

In [ ]:
your_df.info()

**Hourly Resampling for January**

In [ ]:
your_df = your_df.set_index('timestamp_column')
your_df.info()

In [ ]:
hourly_resampled_data = your_df.iloc[:,1:25].resample('H').mean()

# **Hourly sampling for Cooling Data**

In [ ]:
c_path = '/gdrive/My Drive/Colab_Dataset/Other/Cooling_2020.csv'
cooling_df = pd.read_csv(c_path, delimiter=';')

In [ ]:
cooling_df.info()

In [ ]:
cooling_df['time'] = pd.to_datetime(cooling_df['time'],unit='s')

In [ ]:
cooling_df = cooling_df.dropna()

In [ ]:
cooling_df.info()

In [ ]:
cooling_df.isnull().sum()

In [ ]:
cooling_df['time'] = cooling_df['time'].dt.strftime("%m/%d/%Y %H:%M:%S")

In [ ]:
cooling_df.head()

In [ ]:
cooling_df['time']= pd.to_datetime(cooling_df['time'])

In [ ]:
cooling_df['timestamp'] = cooling_df['time']

In [ ]:
cooling_df = cooling_df.set_index('time')

In [ ]:
cooling_df.info()

In [ ]:
cooling_df.iloc[:,2:8]

In [ ]:
cooling_resampled_data = cooling_df.iloc[:,2:8].resample('H').mean()

In [ ]:
cooling_resampled_data.info()

In [ ]:
cooling_resampled_data = cooling_resampled_data.dropna()

In [ ]:
cooling_resampled_data.isnull().sum()

In [ ]:
from pathlib import Path  
filepath = Path('/gdrive/My Drive/Colab_Dataset/cooling_df_hourly.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
cooling_resampled_data.to_csv(filepath)

# **Jobs dataframe**

In [ ]:
j_path = '/gdrive/My Drive/Colab_Dataset/Other/Jobs_2020.csv'
job_df = pd.read_csv(j_path, delimiter=';')

In [ ]:
job_df.info()

In [ ]:
job_df['Execution Time(s)'] = job_df['stop'] - job_df['start']

In [ ]:
job_df.head()

In [ ]:
from pathlib import Path  
filepath = Path('/gdrive/My Drive/Colab_Dataset/job_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
job_df.to_csv(filepath)

 **Jobs Dataset conversion to hourly**

In [ ]:
job_path = '/gdrive/My Drive/Colab_Dataset/job_df.csv'
job_df = pd.read_csv(job_path, index_col=[0])

In [ ]:
job_df.iloc[2:4,:]

In [ ]:
job_df[job_df['executable'].isna()]

In [ ]:
job_df[job_df['jobstatus']!='DONE']

In [ ]:
exitjob_df = job_df[job_df['jobstatus']!='DONE'].reset_index(drop=True)

In [ ]:
exitjob_df['Execution Time(s)'] = exitjob_df['stop'] - exitjob_df['start']

In [ ]:
exitjob_df.head()

In [ ]:
donejob_df = job_df[job_df['jobstatus']=='DONE'].reset_index(drop=True)

In [ ]:
donejob_df.info()

In [ ]:
job_df.loc[job_df['jobstatus'] == 'DONE','Execution Time(s)'].sum()

In [ ]:
job_df['timestamp'] = pd.to_datetime(job_df['stop'], unit='s')

In [ ]:
import datetime
exitjob_df['timestamp'] = pd.to_datetime(exitjob_df['stop'], unit='s')
#donejob_df['timestamp'] = pd.to_datetime(donejob_df['stop'], unit='s')

In [ ]:
job_df[job_df['jobstatus'] == 'EXIT'].iloc[0:50,:]

In [ ]:
job_df['timestamp'] = job_df['timestamp'].dt.strftime("%m/%d/%Y %H:%M:%S")

In [ ]:
exitjob_df['timestamp'] = exitjob_df['timestamp'].dt.strftime("%m/%d/%Y %H:%M:%S")
#donejob_df['timestamp'] = donejob_df['timestamp'].dt.strftime("%m/%d/%Y %H:%M:%S")

In [ ]:
job_df['timestamp'] = pd.to_datetime(job_df['timestamp'])

In [ ]:
exitjob_df['timestamp'] = pd.to_datetime(exitjob_df['timestamp'])
#donejob_df['timestamp'] = pd.to_datetime(donejob_df['timestamp'])

In [ ]:
exitjob_df.head()

In [ ]:
job_df = job_df.set_index('timestamp')

In [ ]:
exitjob_df = exitjob_df.set_index('timestamp')
#donejob_df = donejob_df.set_index('timestamp')

In [ ]:
job_df.head()

,id,jobid,numcores,user,queue,directory,executable,jobstatus,start,stop,numhost,hostlist,Execution Time(s)
timestamp,,,,,,,,,,,,,
2019-12-31 02:52:12,924386,299257,48,leporea,cresco6_48h48,christian/electricity/R,Rscript,DONE,1577760730,1577760732,1,"""48*cresco6x125""",2
2019-12-31 02:52:18,924387,299287,48,leporea,cresco6_48h48,christian/electricity/R,Rscript,DONE,1577760734,1577760738,1,"""48*cresco6x314""",4
2019-12-31 02:52:18,924388,299279,48,leporea,cresco6_48h48,christian/electricity/R,Rscript,DONE,1577760732,1577760738,1,"""48*cresco6x015""",6
2019-12-31 02:52:12,924389,299252,48,leporea,cresco6_48h48,christian/electricity/R,Rscript,DONE,1577760730,1577760732,1,"""48*cresco6x328""",2
2019-12-31 02:52:18,924390,299290,48,leporea,cresco6_48h48,christian/electricity/R,Rscript,DONE,1577760734,1577760738,1,"""48*cresco6x319""",4

In [ ]:
exitjob_df.iloc[1:50,:]

In [ ]:
job_df[job_df['numcores']!= 48 ]

In [ ]:
job_df.iloc[0:50,:]

In [ ]:
job_resampled_data = job_df.resample('H').mean()

In [ ]:
exitjob_df = exitjob_df.resample('H').mean()
#donejob_df = donejob_df.resample('H').mean()

In [ ]:
job_resampled_data.isnull().sum()

In [ ]:
job_resampled_data.dropna(inplace = True)

In [ ]:
job_resampled_data.info()

In [ ]:
exitjob_df.dropna(inplace = True)
#donejob_df.dropna(inplace = True)

In [ ]:
job_resampled_data.info()

In [ ]:
new_resampled_data = job_resampled_data.resample('D').sum()

In [ ]:
new__data = exitjob_df.resample('D').sum()

In [ ]:
new_resampled_data.iloc[5:25,:]

# **Environment Dataframe**

In [ ]:
en_path = '/gdrive/My Drive/Colab_Dataset/Other/Environment_2020.csv'
env_df = pd.read_csv(en_path, delimiter=';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,6,7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
env_df.isnull().sum()

In [ ]:
env_df.info

In [ ]:
env_df.info()

**Removing FAIL Labels from columns**

In [ ]:
env_df.where(env_df == 'FAIL').count()

In [ ]:
env_df.isnull().sum()

In [ ]:
env_df.loc[env_df["hot111_hum"] == "FAIL", "hot111_hum"] = 0
env_df.loc[env_df["hot111_temp"] == "FAIL", "hot111_temp"] = 0
env_df.loc[env_df["hot109_hum"] == "FAIL", "hot109_hum"] = 0
env_df.loc[env_df["hot101_hum"] == "FAIL", "hot101_hum"] = 0

In [ ]:
env_df.info

In [ ]:
env_df.where(env_df == 'FAIL').count()

**Converting object to float type**

In [ ]:
env_df.info()

In [ ]:
env_df['hot101_hum'] = env_df['hot101_hum'].astype(float, errors = 'raise')
env_df['hot111_temp'] = env_df['hot111_temp'].astype(float, errors = 'raise')
env_df['hot111_hum'] = env_df['hot111_hum'].astype(float, errors = 'raise')
env_df['hot109_hum'] = env_df['hot109_hum'].astype(float, errors = 'raise')

**Converting to datetime format**

In [ ]:
env_df.info()

In [ ]:
env_df['timestamp2'] = pd.to_datetime(env_df['timestamp2'])

In [ ]:
env_df['timestamp2'] = env_df['timestamp2'].dt.strftime("%m/%d/%Y %H:%M:%S")

In [ ]:
env_df['timestamp2'] = pd.to_datetime(env_df['timestamp2'])

In [ ]:
env_df.info()

In [ ]:
env_df = env_df.set_index('timestamp2')

In [ ]:
env_df.info()

**Hourly sampling of Environment data**

In [ ]:
env_resampled_data = env_df.resample('H').mean()

In [ ]:
env_resampled_data.info()

In [ ]:
rows_with_nan = [index for index, row in env_resampled_data.iterrows() if row.isnull().any()]

In [ ]:
rows_with_nan

In [ ]:
env_resampled_data.dropna(inplace=True)

In [ ]:
env_resampled_data.info()

In [ ]:
env_resampled_data.head()

,timestamp,hot103_temp,hot103_hum,hot101_temp,hot101_hum,hot111_temp,hot111_hum,hot117_temp,hot117_hum,hot109_temp,...,hot119_temp,hot119_hum,cold107_temp,cold107_hum,cold105_temp,cold105_hum,cold115_temp,cold115_hum,cold113_temp,cold113_hum
timestamp2,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00,1.577835e+09,29.416667,13.166667,30.333333,13.133333,20.2,17.583333,30.0,14.383333,25.600000,...,27.100000,12.516667,14.400000,27.616667,15.316667,26.083333,15.800000,24.966667,14.400000,22.766667
2020-01-01 01:00:00,1.577839e+09,29.000000,13.300000,30.000000,13.233333,20.2,17.700000,29.5,14.500000,25.266667,...,27.100000,12.600000,14.400000,27.983333,14.900000,26.483333,15.400000,25.516667,14.400000,23.150000
2020-01-01 02:00:00,1.577842e+09,29.333333,13.166667,30.000000,13.233333,20.2,17.700000,29.5,14.600000,25.100000,...,27.016667,12.600000,14.400000,28.166667,14.900000,26.700000,15.400000,25.600000,14.400000,23.200000
2020-01-01 03:00:00,1.577846e+09,29.000000,13.300000,30.250000,13.166667,20.2,17.700000,29.5,14.566667,25.433333,...,27.100000,12.516667,14.316667,28.100000,14.900000,26.700000,15.666667,25.366667,14.483333,22.833333
2020-01-01 04:00:00,1.577849e+09,29.000000,13.300000,30.400000,13.140000,20.2,17.700000,29.7,14.440000,25.600000,...,27.100000,12.500000,14.300000,28.300000,14.900000,26.720000,15.800000,25.340000,14.400000,22.900000

In [ ]:
from pathlib import Path  
filepath = Path('/gdrive/My Drive/Colab_Dataset/save_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
env_resampled_data.to_csv(filepath)